<div class="banner2">
        <div class="container">
            <h3>About Us</h3>
        </div>
    </div>

    <!-- About us -->
    <div class="container">
        <div class="about">
            <div class="about1">
                <img src="images/about1.jpg" />
                <img src="images/about2.jpg" />
            </div>
            <div class="about2">
                <p>Honest alloys pvt ltd is established at 70 km from ahmedabad,near vijapur city & on the way to mahudi jain
                    temple.
                </p>
                <br />
                <p>We, “Honest Alloys Private Limited”, are engaged in manufacturing, trading, supplying, and exporting a huge
                    variety of premium quality mild steel products such as Mild Steel Angle , M.S PIPES ,M.S COIL Our products
                    are widely acknowledged for their unmatched quality.</p>
                <br />
                <p>We have segregated our infrastructure into various departments, including production, quality assurance,
                    research & development, and warehousing. All these units are well-equipped with the high-end machinery
                    & equipment that help in the streamline production of Mild Steel Products.</p>
                <br />
                <p>Our experienced technocrats utilize most advanced technologies and manufacturing techniques to deliver an
                    unparalleled range to our clients.</p>
                <br />
                <p>Following are some of the important machines, installed at our manufacturing unit:</p>
                <br />

                <ul class="ul1">
                    <li>Welding machines</li>
                    <li>Drilling machines</li>
                    <li>UTS MACHINE FOR LABORATORY</li>
                    <li>BEND TEST MACHINE</li>
                    <li>END FASING MACHINE</li>
                    <li>Structure straighting machine</li>
                    <li>Welding plants for m.s pipes</li>
                </ul>

                <ul class="ul2">
                    <li>Cutting machines</li>
                    <li>LATHE MACHINES</li>
                    <li>SPECTOMETER MACHINE</li>
                    <li>SHAPPING MACHINE</li>
                    <li>18” & 10 “ re rolling mill</li>
                    <li>M.s tube mills plant for pipe</li>
                    <li>Special purpose machinery</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>