 <div class="banner2">
        <div class="container">
            <h3>Contact Us</h3>
        </div>
    </div>

    <!-- Contact Details -->
    <div class="container">
        <div class="contactus">
            <iframe src="https://maps.google.com/maps?hl=en&q=Honest Alloys Private Limited, No. 53/54, GIDC, Ranasan, , Ta Vijapur, Dist. Mehsana, Mehsana, Gujarat - 382 870, India, Mehsana, Gujarat 382870&ie=UTF8&t=m&z=10&iwloc=B&output=embed"
                frameborder="0" allowfullscreen></iframe>
            <div class="contact_form">
                <h3>HONEST ALLOYS PVT LTD</h3>
                <p>
                    53/54,G.I.D.C Ransan<br /> Near Mahudi Cross Road<br /> Dist : Mahesana TA : Vijapur<br /> Vijapur
                </p>
                <ul>
                    <li><span>Jaydip</span></li>
                    <li><span>Haribhai</span></li>
                    <li><span>Office</span></li>
                    <li class="mbtm69"><span>Email</span></li>
                    <li><span>Website</span></li>
                </ul>
                <ul class="mleft10">
                    <li>: 99250 40487 / 96247 40487</li>
                    <li>: 99787 70456</li>
                    <li>: (M) 95 7463 7463 / (L) 02763 284230</li>
                    <li>:
                        <p>
                            info@honestalloys.com<br /> sales@honestalloys.com
                            <br /> honestalloyspvtltd@yahoo.com
                            <br /> jaydip@honestalloys.com
                        </p>
                    </li>
                    <li>: <a href="http://www.honestalloys.com">www.honestalloys.com</a></li>
                </ul>
                <div class="clear"></div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
