<!-- Banner -->
<div class="banner">
    <div class="container">
        <ul>
            <li>Manufacturer of</li>
            <li>M.S. Angles</li>
            <li>Channels</li>
            <li>Flats</li>
            <li>M.S. Pipe</li>
            <li>Square Pipe</li>
            <li>Rectangle Pipe</li>
            <li>M.S. Coil</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<!-- Welcome -->
<div class="welcome">
    <div class="container">
        <h3>welcome</h3>
        <p>Honest alloys pvt ltd is established at 70 km from ahmedabad,near vijapur city & on the way to mahudi jain temple.
            We, “Honest Alloys Private Limited”, are engaged in manufacturing, trading, supplying, and exporting a huge variety
            of premium quality mild steel products such as Mild Steel Angle , M.S PIPES ,M.S COIL. Our products are widely
            acknowledged for their unmatched quality.</p>
        <a href="#/aboutus">Read More...</a>
    </div>
</div>

<!-- Products -->
<div class="products">
    <div class="container">
        <h3>our products</h3>
        <div class="owl-carousel">
            <div class="product">
                <img src="images/product1.jpg" />
                <p>M. S. Pipe</p>
            </div>
            <div class="product">
                <img src="images/product2.jpg" />
                <p>Rectangle Pipe</p>
            </div>
            <div class="product">
                <img src="images/product3.jpg" />
                <p>M.S. Square Pipe</p>
            </div>
            <div class="product">
                <img src="images/product4.jpg" />
                <p>M.S. Coil</p>
            </div>
            <div class="product">
                <img src="images/product5.jpg" />
                <p>M.S. Angles</p>
            </div>
            <div class="product">
                <img src="images/product1.jpg" />
                <p>M. S. Pipe</p>
            </div>
            <div class="product">
                <img src="images/product2.jpg" />
                <p>Rectangle Pipe</p>
            </div>
            <div class="product">
                <img src="images/product3.jpg" />
                <p>M.S. Square Pipe</p>
            </div>
            <div class="product">
                <img src="images/product4.jpg" />
                <p>M.S. Square Pipe</p>
            </div>
            <div class="product">
                <img src="images/product5.jpg" />
                <p>M.S. Angles</p>
            </div>
        </div>
    </div>
</div>

<!-- Quality -->
<div class="container">
    <div class="quality">
        <h3>quality assurance</h3>
        <img class="isi" src="images/isi.png" />
        <p>Since our establishment, quality has always been one of the foremost concerns of our organization. Our commitment
            to deliver unparalleled Mild Steel Products has earned us a distinct position in the industry. We have appointed
            quality experts, who make sure that all the quality control measures are strictly followed at each production
            stage. These experts ensure that the raw material are procured from trusted vendors of the industry. We are equipped
            with testing laboratory and scientific equipment for finished products as well as raw materials.</p>
        <h5>Honest alloys pvt. ltd is approved by BUREAU of INDIAN STANDARDS ISI</h5>
        <div class="clear"></div>
    </div>
    <div class="quality">
        <h3 class="topborder">client satisfaction</h3>
        <img src="images/hands.jpg" />
        <p>
            Achieving utmost satisfaction of our valuable clients is the main objective of our organization. To attain the same, we have
            directed all our endeavors towards meeting each and every requirment of our clients. We ensure that our clients
            get a flawless product range of mild steel products for which we check it stringently. Further, in order to meet
            specific needs of our clients, we also offer them the facility of customization.
            <br />
            <br /> We have set up an efficient distribution network that helps us supply our products to clients within the
            given time frame.
        </p>
        <div class="clear"></div>
    </div>
</div>