<!-- Banner -->
<div class="banner2">
    <div class="container">
        <h3>M.S ANGLES</h3>
    </div>
</div>

<!-- Pipe Details -->
<div class="container">
    <div class="pipe">
        <p>We are a distinguished manufacturer and supplier of Steel Angles in Ahmadabad, Gujarat. Manufactured using high grade
            raw material, these Steel Angle products are appreciated for their high tensile strength and corrosion resistance.
            Our products are offered in various sizes and other specifications as required by the clients.</p>
        <h3></h3>
    </div>
    <div class="photos">
        <img src="images/an1.jpg" />

        <img src="images/an2.jpg" />

        <img src="images/machine1.jpg" />

        <img src="images/machine2.jpg" />
    </div>
    <div class="chart">
        <h3>Angle Size Chart</h3>
        <table cellpadding="3" cellspacing="0">
            <tr class="d0">
                <td class="thead">No</td>
                <td class="thead">Size</td>
                <td class="thead">Weight/Mtr.</td>
                <td class="thead">Weight/Feet.</td>
            </tr>
            <tr>
                <td>1</td>
                <td>20 X 20X 3MM</td>
                <td>0.90</td>
                <td>0.274</td>
            </tr>
            <tr class="d0">
                <td>2</td>
                <td>25 X 25 X 3 MM</td>
                <td>1.10</td>
                <td>0.336</td>
            </tr>
            <tr>
                <td>3</td>
                <td>25 X 25 X 5 MM</td>
                <td>1.8</td>
                <td>0.549</td>
            </tr>
            <tr class="d0">
                <td>4</td>
                <td>26 X 26 X 4 MM</td>
                <td>1.51</td>
                <td>0.460</td>
            </tr>
            <tr>
                <td>5</td>
                <td>30 X 30 3 MM</td>
                <td>1.04</td>
                <td>0.427</td>
            </tr>
            <tr class="d0">
                <td>6</td>
                <td>34 X 34 X 4 MM</td>
                <td>2.02</td>
                <td>0.614</td>
            </tr>
            <tr>
                <td>7</td>
                <td>35 X 35 5 MM</td>
                <td>2.6</td>
                <td>0.793</td>
            </tr>
            <tr class="d0">
                <td>8</td>
                <td>37 X 37 X 3 MM</td>
                <td>1.68</td>
                <td>0.511</td>
            </tr>
            <tr>
                <td>9</td>
                <td>40 X 40 X 5 MM</td>
                <td>3.0</td>
                <td>0.915</td>
            </tr>
            <tr class="d0">
                <td>10</td>
                <td>40 X 40 X 6 MM</td>
                <td>3.5</td>
                <td>1.067</td>
            </tr>
            <tr>
                <td>11</td>
                <td>45 X 45 X 4 MM</td>
                <td>2.7</td>
                <td>0.823</td>
            </tr>
            <tr class="d0">
                <td>12</td>
                <td>45 X 45 X 5 MM</td>
                <td>3.4</td>
                <td>1.037</td>
            </tr>
            <tr>
                <td>13</td>
                <td>45 X 45 X 6 MM</td>
                <td>4.0</td>
                <td>1.220</td>
            </tr>
            <tr class="d0">
                <td>14</td>
                <td>50 X 50 X 4 MM</td>
                <td>3.0</td>
                <td>0.914</td>
            </tr>
            <tr>
                <td>15</td>
                <td>50 X 50 X 5 MM</td>
                <td>3.8</td>
                <td>1.158</td>
            </tr>
            <tr class="d0">
                <td>16</td>
                <td>50 X 50 X 6 MM</td>
                <td>4.5</td>
                <td>1.372</td>
            </tr>
            <tr>
                <td>17</td>
                <td>60 X 60 X 4 MM</td>
                <td>3.7</td>
                <td>1.128</td>
            </tr>
            <tr class="d0">
                <td>18</td>
                <td>60 X 60 X 5 MM</td>
                <td>4.5</td>
                <td>1.370</td>
            </tr>
            <tr>
                <td>19</td>
                <td>60 X 60X 6 MM</td>
                <td>5.4</td>
                <td>1.650</td>
            </tr>
            <tr class="d0">
                <td>20</td>
                <td>65 X 65X 4 MM</td>
                <td>4.0</td>
                <td>1.220</td>
            </tr>
            <tr>
                <td>21</td>
                <td>65 X 65 X 5 MM</td>
                <td>4.9</td>
                <td>1.494</td>
            </tr>
            <tr class="d0">
                <td>22</td>
                <td>65 X 65X 6 MM</td>
                <td>5.8</td>
                <td>1.768</td>
            </tr>
            <tr>
                <td>23</td>
                <td>70 X 70 X 5 MM</td>
                <td>5.3</td>
                <td>1.616</td>
            </tr>
            <tr class="d0">
                <td>24</td>
                <td>75 X 75 X 6 MM</td>
                <td>6.8</td>
                <td>2.07</td>
            </tr>
            <tr>
                <td>25</td>
                <td>75 X 75 X 8 MM</td>
                <td>8.9</td>
                <td>2.71</td>
            </tr>
        </table>
    </div>
</div>