<!-- Banner -->
<div class="banner2">
    <div class="container">
        <h3>M.S Coils</h3>
    </div>
</div>

<!-- Pipe Details -->
<div class="container">
    <div class="coil">
        <p>We Also Manufacture M.S Coils From Quality Raw Material Like BILLETS.This M.S Coils Used For Manufacture Different
            Type And Size M.S Pipes</p>
        <p>We Also Using Branded Coils To Produce M.S Pipes As Per Client Requirement</p>

        <h3></h3>
    </div>

    <div class="photos">
        <img src="images/mscoil1.jpg" />

        <img src="images/mscoil2.jpg" />

        <img src="images/mscoil3.jpg" />

        <img src="images/mscoil4.jpg" />
    </div>
</div>