<!-- Banner -->
<div class="banner2">
    <div class="container">
        <h3>M.S Pipes</h3>
    </div>
</div>

<!-- Pipe Details -->
<div class="container">
    <div class="pipe">
        <p>We hold immense pleasure in introducing ourselves as one of the trusted manufacturers, suppliers and exporters of
            a wide range of MS Pipes. These pipes are precisely engineered in our manufacturing units employing latest machines
            and advanced technology. Our range is highly applauded for its high tensile strength, dimensional accuracy and
            corrosion resistance.</p>
        <h3></h3>
    </div>
    <div class="photos">
        <img src="images/msp1.jpg" />

        <img src="images/msp4.jpg" />

        <img src="images/machine3.jpg" />

        <img src="images/machine4.jpg" />
    </div>

    <div class="pipesize">
        <h3>Size Details For M.S Pipes</h3>
        <div class="tabcontent">
            <div class="left-con">
                <table cellpadding="3" cellspacing="0">
                    <tr class="d0">
                        <td rowspan="5" class="thead">1/2"</td>
                        <td class="thead">No</td>
                        <td class="thead">Size</td>
                        <td class="thead">Weight/6Mtr.</td>
                        <td class="thead">Thickness</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>15 X 15</td>
                        <td>3 KG</td>
                        <td>1.15 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>2</td>
                        <td>15 X 15</td>
                        <td>4 KG</td>
                        <td>1.35 MM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>OD 20</td>
                        <td>3 KG</td>
                        <td>1.15 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>4</td>
                        <td>OD 20</td>
                        <td>4 KG</td>
                        <td>1.35 MM</td>
                    </tr>
                </table>

                <table cellpadding="3" cellspacing="0">
                    <tr class="d0">
                        <td rowspan="11" class="thead">1"</td>
                        <td class="thead">No</td>
                        <td class="thead">Size</td>
                        <td class="thead">Weight/6Mtr.</td>
                        <td class="thead">Thickness</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>25 X 25</td>
                        <td>5 KG</td>
                        <td>1.10 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>2</td>
                        <td>25 X 25</td>
                        <td>6 KG</td>
                        <td>1.25 MM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>25 X 25</td>
                        <td>7 KG</td>
                        <td>1.45 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>4</td>
                        <td>25 X 25</td>
                        <td>8 KG</td>
                        <td>1.80 MM</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>25 X 25</td>
                        <td>10 KG</td>
                        <td>2.10 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>6</td>
                        <td>OD 31</td>
                        <td>5 KG</td>
                        <td>1.10 MM</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>OD 31</td>
                        <td>6 KG</td>
                        <td>1.25 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>8</td>
                        <td>OD 31</td>
                        <td>7 KG</td>
                        <td>1.45 MM</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>OD 31</td>
                        <td>8 KG</td>
                        <td>1.80 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>10</td>
                        <td>OD 31</td>
                        <td>10 KG</td>
                        <td>2.10 MM</td>
                    </tr>
                </table>

                <table cellpadding="3" cellspacing="0">
                    <tr class="d0">
                        <td rowspan="14" class="thead">1 (1/2)"</td>
                        <td class="thead">No</td>
                        <td class="thead">Size</td>
                        <td class="thead">Weight/6Mtr.</td>
                        <td class="thead">Thickness</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>38 X 38</td>
                        <td>9 KG</td>
                        <td>1.20 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>2</td>
                        <td>38 X 38</td>
                        <td>12 KG</td>
                        <td>1.60 MM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>38 X 38</td>
                        <td>14 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>4</td>
                        <td>38 X 38</td>
                        <td>16 KG</td>
                        <td>2.30 MM</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>38 X 38</td>
                        <td>18 KG</td>
                        <td>2.50 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>6</td>
                        <td>OD 48</td>
                        <td>9 KG</td>
                        <td>1.20 MM</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>OD 48</td>
                        <td>12 KG</td>
                        <td>1.60 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>8</td>
                        <td>OD 48</td>
                        <td>14 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>OD 48</td>
                        <td>16 KG</td>
                        <td>2.30 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>10</td>
                        <td>OD 48</td>
                        <td>18 KG</td>
                        <td>2.50 MM</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>50 X 25</td>
                        <td>9 KG</td>
                        <td>1.20 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>12</td>
                        <td>50 X 25</td>
                        <td>12 KG</td>
                        <td>1.60 MM</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>50 X 25</td>
                        <td>14 KG</td>
                        <td>2.00 MM</td>
                    </tr>

                </table>

                <table cellpadding="3" cellspacing="0">
                    <tr class="d0">
                        <td rowspan="17" class="thead">2 (1/2)"</td>
                        <td class="thead">No</td>
                        <td class="thead">Size</td>
                        <td class="thead">Weight/6Mtr.</td>
                        <td class="thead">Thickness</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>60 X 60</td>
                        <td>17 KG</td>
                        <td>1.5 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>2</td>
                        <td>60 X 60</td>
                        <td>20 KG</td>
                        <td>1.8 MM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>60 X 60</td>
                        <td>22 KG</td>
                        <td>2.0 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>4</td>
                        <td>60 X 60</td>
                        <td>27 KG</td>
                        <td>2.4 MM</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>OD 76</td>
                        <td>17 KG</td>
                        <td>1.5 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>6</td>
                        <td>OD 76</td>
                        <td>20 KG</td>
                        <td>1.8 MM</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>OD 76</td>
                        <td>22 KG</td>
                        <td>2.0 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>8</td>
                        <td>OD 76</td>
                        <td>27 KG</td>
                        <td>2.4 MM</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>80 X 40</td>
                        <td>17 KG</td>
                        <td>1.5 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>10</td>
                        <td>80 X 40</td>
                        <td>20 KG</td>
                        <td>1.8 MM</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>80 X 40</td>
                        <td>22 KG</td>
                        <td>2.0 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>12</td>
                        <td>80 X 40</td>
                        <td>27 KG</td>
                        <td>2.4 MM</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>100 X 25</td>
                        <td>17 KG</td>
                        <td>1.5 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>14</td>
                        <td>100 X 25</td>
                        <td>20 KG</td>
                        <td>1.8 MM</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>100 X 25</td>
                        <td>22 KG</td>
                        <td>2.0 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>16</td>
                        <td>100 X 25</td>
                        <td>27 KG</td>
                        <td>2.4 MM</td>
                    </tr>


                </table>

            </div>
            <div class="right-con">
                <table cellpadding="3" cellspacing="0">
                    <tr class="d0">
                        <td rowspan="5" class="thead">3/4"</td>
                        <td class="thead">No</td>
                        <td class="thead">Size</td>
                        <td class="thead">Weight/6Mtr.</td>
                        <td class="thead">Thickness</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>20 X 20</td>
                        <td>4 KG</td>
                        <td>1.10 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>2</td>
                        <td>20 X 20</td>
                        <td>5 KG</td>
                        <td>1.30 MM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>OD 25</td>
                        <td>4 KG</td>
                        <td>1.10 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>4</td>
                        <td>OD 25</td>
                        <td>5 KG</td>
                        <td>1.30 MM</td>
                    </tr>
                </table>

                <table cellpadding="3" cellspacing="0">
                    <tr class="d0">
                        <td rowspan="10" class="thead">1 (1/4)"</td>
                        <td class="thead">No</td>
                        <td class="thead">Size</td>
                        <td class="thead">Weight/6Mtr.</td>
                        <td class="thead">Thickness</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>32 X 32</td>
                        <td>7 KG</td>
                        <td>1.10 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>2</td>
                        <td>32 X 32</td>
                        <td>9 KG</td>
                        <td>1.45 MM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>32 X 32</td>
                        <td>12 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>4</td>
                        <td>OD 41</td>
                        <td>7 KG</td>
                        <td>1.10 MM</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>OD 41</td>
                        <td>9 KG</td>
                        <td>1.45 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>6</td>
                        <td>OD 41</td>
                        <td>12 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>40 X 20</td>
                        <td>7 KG</td>
                        <td>1.10 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>8</td>
                        <td>40 X 20</td>
                        <td>9 KG</td>
                        <td>1.45 MM</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>40 X 20</td>
                        <td>12 KG</td>
                        <td>2.00 MM</td>
                    </tr>

                </table>

                <table cellpadding="3" cellspacing="0">
                    <tr class="d0">
                        <td rowspan="17" class="thead">2"</td>
                        <td class="thead">No</td>
                        <td class="thead">Size</td>
                        <td class="thead">Weight/6Mtr.</td>
                        <td class="thead">Thickness</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50 X 50</td>
                        <td>12 KG</td>
                        <td>1.35 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>2</td>
                        <td>50 X 50</td>
                        <td>15 KG</td>
                        <td>1.70 MM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>50 X 50</td>
                        <td>17 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>4</td>
                        <td>50 X 50</td>
                        <td>21 KG</td>
                        <td>2.5 MM</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>OD 58</td>
                        <td>12 KG</td>
                        <td>1.35 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>6</td>
                        <td>OD 58</td>
                        <td>15 KG</td>
                        <td>1.70 MM</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>OD 58</td>
                        <td>17 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>8</td>
                        <td>OD 58</td>
                        <td>21 KG</td>
                        <td>2.5 MM</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>75 X 25</td>
                        <td>12 KG</td>
                        <td>1.35 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>10</td>
                        <td>75 X 25</td>
                        <td>15 KG</td>
                        <td>1.70 MM</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>75 X 25</td>
                        <td>17 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>12</td>
                        <td>75 X 25</td>
                        <td>21 KG</td>
                        <td>2.5 MM</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>60 X 40</td>
                        <td>12 KG</td>
                        <td>1.35 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>14</td>
                        <td>60 X 40</td>
                        <td>15 KG</td>
                        <td>1.70 MM</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>60 X 40</td>
                        <td>17 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>16</td>
                        <td>60 X 40</td>
                        <td>21 KG</td>
                        <td>2.5 MM</td>
                    </tr>


                </table>

                <table cellpadding="3" cellspacing="0">
                    <tr class="d0">
                        <td rowspan="17" class="thead">3"</td>
                        <td class="thead">No</td>
                        <td class="thead">Size</td>
                        <td class="thead">Weight/6Mtr.</td>
                        <td class="thead">Thickness</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>OD 88</td>
                        <td>24 KG</td>
                        <td>1.80 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>2</td>
                        <td>OD 88</td>
                        <td>27 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>72 X 72</td>
                        <td>24 KG</td>
                        <td>1.80 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>4</td>
                        <td>72 X 72</td>
                        <td>27 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>96 X 48</td>
                        <td>24 KG</td>
                        <td>1.80 MM</td>
                    </tr>
                    <tr class="d0">
                        <td>6</td>
                        <td>96 X 48</td>
                        <td>27 KG</td>
                        <td>2.00 MM</td>
                    </tr>
                </table>
            </div>
            <div class="clear"></div>
        </div>


    </div>
</div>