<!-- Banner -->
<div class="banner2">
    <div class="container">
        <h3>Quality Policy</h3>
    </div>
</div>

<!-- About us -->
<div class="container">
    <div class="about pbtm188">
        <div class="about1">
            <img src="images/quality.jpg" />
        </div>
        <div class="about2">
            <p>Since our establishment, quality has always been one of the foremost concerns of our organization. Our commitment
                to deliver unparalleled Mild Steel Products has earned us a distinct position in the industry. We have appointed
                quality experts, who make sure that all the quality control measures are strictly followed at each production
                stage. These experts ensure that the raw material are procured from trusted vendors of the industry.</p>
            <br />
            <p>We are equipped with testing laboratory and scientific equipment for finished products as well as raw materials
                Honest alloys pvt ltd is approved by BUREA OF INDIAN STANDARDS (ISI)</p>
            <br />

            <span>Client Satisfaction</span>
            <br />
            <br />

            <p>Achieving utmost satisfaction of our valuable clients is the main objective of our organization.</p>
            <br />
            <p>To attain the same, we have directed all our endeavors towards meeting each and every requirement of our clients.
                We ensure that our clients get a flawless product range of mild steel products for which we check it stringently.
                Further, in order to meet specific needs of our clients, we also offer them the facility of customization.</p>
            <br />
            <p>We have set up an efficient distribution network that helps us supply our products to clients within the given
                time frame.</p>
            <br />
        </div>
        <div class="clear"></div>
    </div>
</div>