<div class="banner2">
    <div class="container">
        <h3>MS SQUARE PIPE</h3>
    </div>
</div>

<!-- Pipe Details -->
<div class="container">
    <div class="pipe">
        <p>Being a reputed firm, we are offering a distinguished assortment of MS Square Pipe. The offered range finds extended
            applications in a number of industries. Our offered tube is immensely popular in the market, owing to its high
            strength, corrosion resistance and durability. Clients can avail this tube can be availed in various sizes and
            dimensions as per their different requirements.</p>
        <h3></h3>
    </div>
    <div class="photos">
        <img src="images/sp1.jpg" />

        <img src="images/sp2.jpg" />

        <img src="images/sp3.jpg" />

        <img src="images/sp4.jpg" />
    </div>
    <div class="photos">
        <img src="images/machine1.jpg" />

        <img src="images/machine2.jpg" />

        <img src="images/machine3.jpg" />

        <img src="images/machine4.jpg" />
    </div>
</div>