 <div class="footer">
        <div class="container">
            <div class="news">
                <h3>Products</h3>
                <ul>
                    <li>
                        <img src="images/an1.jpg" height="50" width="50" />
                        <p class="white">M.S ANGLES</p>
                        <br/>

                        <p><a href="#/msangle">Read More...</a></p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <img src="images/msp1.jpg" height="50" width="50" />
                        <p class="white">M.S Pipes</p>
                        <br/>
                        <p><a href="#/mspipe">Read More...</a></p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <img src="images/sp4.jpg" height="50" width="50" />
                        <p class="white">MS SQUARE PIPE</p>
                        <br/>
                        <p><a href="#/squarepipe">Read More...</a></p>
                        <div class="clear"></div>
                    </li>
                    <li class="mr0">
                        <img src="images/mscoil2.jpg" height="50" width="50" />
                        <p class="white">M.S Coils</p>
                        <br/>
                        <p><a href="#/mscoil">Read More...</a></p>
                        <div class="clear"></div>
                    </li>

                </ul>
            </div>

            <div class="location">
                <h3>Location</h3>
                <ul>
                    <li>
                        <p>HONEST ALLOYS PVT LTD</p>
                        <p>53/54,G.I.D.C Ranasan</p>
                        <p>Nr.Mahudi Cross Road,</p>
                        <p>Dist. Mahesana Ta.:Vijapur</p>
                        <p>Vijapur</p>
                    </li>
                    <li>
                        <p>Jaydip : 9925040487 / 9624740487</p>
                        <p>Haribhai : 9978770456</p>
                    </li>
                </ul>
            </div>

            <div class="contact">
                <h3>Contact Us</h3>
                <ul class="ul1">
                    <li>
                        <p>Jaydip:</p>
                    </li>
                    <li class="mbtm30">
                        <p>Haribhai:</p>
                    </li>
                    <li class="mbtm45">
                        <img src="images/phone.jpg" />
                    </li>
                    <li>
                        <img src="images/mail2.jpg" />
                    </li>
                </ul>
                <ul class="ul2">
                    <li>
                        <p>9925040487 / 9624740487</p>
                    </li>
                    <li class="mbtm30">
                        <p>9978770456</p>
                    </li>
                    <li>
                        <p>(M) 9574637463</p>
                    </li>
                    <li class="mbtm25">
                        <p>(L) 02763284230</p>
                    </li>
                    <li>
                        <p><a href="mailto:info@honestalloys.com">info@honestalloys.com</a>
                        </p>
                    </li>
                    <li>
                        <p><a href="mailto:sales@honestalloys.com">sales@honestalloys.com</a>
                        </p>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
        <div class="header-border"></div>
        <div class="container">
            <p>Copyright © 2016 Honest alloys pvt ltd</p>
        </div>
    </div>