<div class="header1">
    <div class="header-border"></div>
    <!--  <div class="menu-top-res">
            <a href="javascript:void(0);" style="font-size: 15px;" onclick="myFunction()">MENU ☰</a>
        </div>-->
    <div class="container">
        <div class="header">

            <img class="logo" src="images/logo2.jpg" />
            <div class="social">
                <p>Call us on: +91 95 7463 7463</p>
                <a href="https://www.facebook.com/honestpipe" target="_blank">
                    <img src="images/fb.png" /></a>
                <a href="#">
                    <img src="images/tweet.png" /></a>
                <a href="mailto:info@honestalloys.com">
                    <img src="images/mail.png" /></a>

                <div class="clear"></div>
            </div>
            <div class="menu-head">
                <nav id='cssmenu'>
                    <ul>
                        <li><a href='#/home' id="home"> Home</a></li>
                        <li><a href='#/about' id="about">About US</a></li>
                        <li><a href='#/infrastructure' id="infrastructure">infrastructure</a></li>
                        <li class='has-sub'>
                            <a href='#' id="products"> Products</a>
                            <ul>
                                <li><a href='#/msangle'>M.S. ANGLE</a></li>
                                <li><a href='#/mspipe'>M.S. PIPE</a></li>
                                <li><a href='#/squarepipe'>SQUARE PIPE</a></li>
                                <li><a href='#/mscoil'>M.S. COIL</a></li>
                            </ul>
                        </li>
                        <li><a href='#/quality' id="quality">Quality policy</a></li>
                        <li><a href='#/contact' id="contact">Contact us</a></li>
                    </ul>

                </nav>
            </div>

        </div>
    </div>

</div>